.App {
  text-align: center;
}
/* App.css */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FEFEFE;
}

/* Sidebar styles */
.App {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  /* background-color: rgb(44, 25, 18); */
  background-color: #2B2B2B;
  color: white;
  padding: 20px;
  transition: 0.3s;
  height: 100%;
}

.sidebar.open {
  width: 0;
}

.sidebar h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  background-color: #fff;
  color: #0466c8;
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #0466c8;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
  font-size: 18px;
}

/* Main content styles */
main {
  flex: 1;
  background-color: #fff;
  padding: 20px;
}
